@model IEnumerable<gbkapp.Models.Product>

<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h2>Product List</h2>
    <h4>@Html.DisplayNameFor(model => model.Description)</h4>
    <ul>
        @foreach (var listProduct in Model)
        {
        <li>
            @Html.DisplayFor(modelProduct => listProduct.Description) |
            @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId }) |
            @Html.ActionLink("Edit", "Edit", new { id = listProduct.ProductId }) | 
            @Html.ActionLink("Delete", "Delete", new { id = listProduct.ProductId })
        </li>
        }
    </ul>
    <p>@Html.ActionLink("Add new product", "Create")</p>
</body>
</html>
